<div class="banner_image">
    <div class="welcome_container">
        <div class="welcome_text">
            <h1>Hi! I'm Will,</h1>
            <%= render 'layouts/typewriter' %>
        </div>
    </div>
</div>