<div class="circle_image">
    <%= image_tag("will-photo-headshot.jpg", :alt => "Headshot of me") %>
</div>
<h2>
    About Me
</h2>
<p>
    My path to getting into technology is a little unorthodox. In the early days of my life, I was fascinated with computers: you could often find me on our family’s Mac OS 8 machine just digging through folders, playing old games, or adjusting settings and seeing what happened. When it came to actually writing and maintaining code, however, I never believed it was something someone like me could actually achieve. My passion soon fell away without nurturing, and I spent more time on traditional school and athletics as I got older. I was mostly focused on my athletics throughout highschool and college, and I was lucky enough to become a world class fencer, competing in tournaments and representing the US all over the globe. I ended my education graduating from Columbia University with a bachelor’s in English Literature. I soon started work as a content writer, both contracted and freelance. It was around this time that I started learning Python and writing simple scripts just for fun. 
</p>
<p>
   I found the work as a content writer unfulfilling, and started pursuing other avenues for work and my career. I tried my hand as an athletic coach, I tried tutoring writing, philosophy, and standardized tests, and I even tried working as a sales representative. I soon realized the answer had been in front of me all along: in the scripts I’d been writing in my free time. I was inspired by stories of people from all education backgrounds learning programming and making it as a developer. After researching different paths, I stayed away from pricy bootcamps that don’t guarantee job placement. I followed the curriculum laid out in The Odin Project and have only seen my love for developing grow. This website is my final project. I’m proud of it. 
</p>