<div class="border-top">
    <div class="project_main_container">
        <h2 class="text-center p-4">
            CSS Projects
        </h2>
        <p>
    
        </p>

        <div class="p-4">
            <%= image_tag("geneticslab-generations", alt: "breakdown of specific genes from a hypothetical gene line", class: "float-right border float_image") %>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod in pellentesque massa placerat duis ultricies. Gravida neque convallis a cras semper auctor. Dui vivamus arcu felis bibendum ut tristique et. Diam donec adipiscing tristique risus nec feugiat in fermentum posuere. Vivamus at augue eget arcu dictum varius duis. At augue eget arcu dictum varius duis at consectetur lorem. Est placerat in egestas erat imperdiet sed. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Amet porttitor eget dolor morbi non arcu risus quis.
            </p>
            <p>
                Vivamus at augue eget arcu dictum. Pellentesque elit eget gravida cum sociis. Pretium nibh ipsum consequat nisl. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Pellentesque diam volutpat commodo sed egestas. Congue nisi vitae suscipit tellus mauris a diam maecenas. Ipsum dolor sit amet consectetur adipiscing. Massa tempor nec feugiat nisl. Viverra justo nec ultrices dui sapien eget. Neque viverra justo nec ultrices dui sapien eget mi proin. Aliquam sem et tortor consequat id porta. Adipiscing enim eu turpis egestas pretium aenean pharetra magna.
            </p>
            <span>You can find the Github repo <a href="https://github.com/spearw/genetics_lab" target="_blank">here</span>
        </div>
    </div>
</div>