<div class="border-top">
    <div class="project_main_container">
        <h2 class="text-center p-4">
            CSS Projects
        </h2>
        <p>
            The purpose of these projects was to learn CSS by recreating recognizable pages on the internet by hand, with limited element inspection or copying of the source page. These are not usable websites - they are simply copied recreations with the look of the original site. Images below are all screenshots of my recreations of the website. Clicking on the images will navigate to the websites copied for comparison. 
        </p>

        <div class="p-4">
            <div class="p-3">
                <h3> 
                    Mint login page
                </h3>
                <%= link_to nil, image_tag("mint-css.png", alt: "mint homepage recreation"), href: "https://accounts.intuit.com/index.html?offering_id=Intuit.ifs.mint&namespace_id=50000026&redirect_url=https%3A%2F%2Fmint.intuit.com%2Foverview.event", target: "_blank" %>
                <p>
                    <span><a href="https://github.com/spearw/mint_signup_page_CSS" target="_blank">Github Repo</a></span>
                </p>
            </div>
            <div class="p-3">
                <h3> 
                    New York Times space ripples article
                </h3>
                <%= link_to nil, image_tag("nyt-css.png", alt: "New York Times article recreation"), href: "https://www.nytimes.com/2014/03/18/science/space/detection-of-waves-in-space-buttresses-landmark-theory-of-big-bang.html", target: "_blank" %>
                <p>
                    <span><a href="https://github.com/spearw/NYT_Article_CSS" target="_blank">Github Repo</a></span>
                </p>
            </div>
            <div class="p-3">
                <h3> 
                    Youtube video page
                </h3>
                <%= link_to nil, image_tag("youtube-css.png", alt: "Youtube video page recreation"), href: "https://www.youtube.com/watch?v=xJ0vCs-E5Bw", target: "_blank" %>
                <p>
                    <span><a href="https://github.com/spearw/youtube" target="_blank">Github Repo</a></span>
                </p>
            </div>
            <div class="p-3">
                <h3> 
                    Smashing Magazine Homepage Heatmap
                </h3>
                <%= link_to nil, image_tag("smashingmag-css.png", alt: "Smashing magazine heatmap"), href: "https://www.smashingmagazine.com/", target: "_blank" %>
                <p>
                    <span><a href="https://github.com/spearw/smashing_magazine_mockup" target="_blank">Github Repo</a></span>
                </p>
            </div>
        </div>
    </div>
</div>