<div class="border-top">
    <div class="project_main_container">
        <h2 class="text-center p-4">
            Fitbit API Integration
        </h2>
        <div class="project_main_picture border">
            <%= image_tag("Fitbit-projects", alt: "projects list for rails app") %>
        </div>

        <div class="p-4">
            <%= image_tag("Fitbit-new-participant", alt: "participant creation form", class: "float-right border float_image") %>
            <p>
                The Fitbit API research project is a RubyOnRails Fitbit API integration with polling and OAuth2 authentication, using Postgres as a database. This was developed for Dr. Russel Hogg of Florida Gulf Coast University to allow him and his team to set up heart rate research projects. The application allows for the quick creation and monitoring of research groups, and allows the researcher to create experimental groups on the fly, poll the Fitbit data, parse it into a specific format, and display it to fit the researcher’s needs.
            </p>
            <p>
                I had constant communication with the researcher, Dr. Hogg, and went through multiple incremental test-driven changes to progress to an end product. During this time I also coordinated with other parties to reach a solution that would fit the client’s needs, such as the Fitbit data representative and the University’s IT team.
            </p>
        </div>
    </div>
</div>