<div class="border-top">
    <div class="project_main_container">
        <h2 class="text-center p-4">
            NCAA Fencing Calculations
        </h2>
        <div class="project_main_picture border">
            <%= image_tag("NCAA-Website", alt: "Epee induvidual results page") %>
        </div>

        <div class="p-4">
            <p>
                This project was developed as a collaborative effort to provide ease of evaluation of NCAA Fencing results. The NCAA calculations websites was built using Flask, a lightweight Python framework, as well as Bootstrap and vanilla JS for the front-end. The project scrapes data results from the official NCAA Fencing website, and calculates current rankings as well as shows future requirements for winning the tournament.
            </p>
            <p>
                Although this was a collaborative effort, my primary focus during this project was on the front end. The site features an adaptive color scheme based on the current leading school (note Ohio State’s gray and scarlet on the screen shot above), easy navigation between all the events, and a mobile-friendly, responsive design.
                The GitHub for this project can be found <a href="https://github.com/andrefisch/NCAA-Calculations", target="blank">here,</a>
                 and the live Heroku page can be found <a href="https://ncaa-fencing-calculations.herokuapp.com", target="_blank">here.</a>
            </p>
        </div>
    </div>
</div>