<div class="border-top">
    <div class="project_main_container">
        <h2 class="text-center p-4">
            System Planning Toolbox
        </h2>

        <div class="p-4">
            <p>
                System planning toolbox is an ongoing project in collaboration with Sprinkbok LLC that aims to port The Mathworks MATLAB toolbox into Java. This project performs the engineering analysis required for the coordination of communication networks under national and international regulatory criteria with a focus on the Radiocommunication Sector Space Services.
            </p>
            <p>
                The System Planning Toolbox is implemented in MATLAB, and as such, a license for MATLAB is required to use the toolbox. No other toolboxes provided by The Mathworks are, however, required for calculating equivalent power flux density (EPFD) up, down, and inter-satellite for comparison with Article 22 limits.
            </p>
        </div>
    </div>
</div>