
body {
    margin: 2rem;
}

img{
    max-width: 100%;
}

.banner_image {
    background: image-url('cold.jpeg');
    background-size: cover;
    height: 75vh;
    margin-bottom: 4rem;
}

.welcome_container{
    display: flex; 
    width: 90%; 
    height: 70%; 
    margin: auto; 
}

.welcome_text{
    margin: 12rem 0;
    max-width: 30rem;
}

.typewrite {
    color: darkblue;
}

// Transition between opacity
@keyframes blink{
    from {border-right: 0.08em solid rgba(255, 255, 255, 1.0)}
    to {border-right: 0.08em solid rgba(255, 255, 255, 0.0)}
}

.wrap{
    border-right: 0.08em solid #fff;
    animation: blink 1s infinite;
}

.h1{
    font-size: 2.5rem;
}

.flexbox{
    display: flex;
}

//About page image
.circle_image{
    width: 12rem;
    margin: auto;
}

.circle_image img{
    border-radius: 50%;
}

//Footer image
.circle_image_small{
    width: 3rem;
    margin: 0 2rem;
}

.circle_image_small img{
    border-radius: 50%;
}

//Projects list
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

.projects span {
    padding: 1rem;
}

.project_container {
    filter: brightness(100%);
    width: 40%;
    padding: 2rem;
    transition: all 1s ease;
    flex-direction: column;
    display: flex;
}

//Projects animation
.project_container:hover{
    filter: brightness(80%);
    transform: scale(1.05);
    transition: all 1s ease;
}

.hidden{
    visibility: hidden;
}

.text_area{
    height:10rem !important;
    width: 15rem;
}

//Project induvidual pages:w
.project_main_container{
    max-width: 80%;
    margin: auto;
}

.project_main_picture{
   max-width: 80%;
    margin: auto;
}

.float_image{
    max-width: 50%;
    height: auto;
}