
<p class="border-top">© <%= Date.today.year %></p>
<div class="d-flex p-3 justify-content-center">
    <div class="circle_image_small">
        <%= link_to image_tag("GitHub-Mark-120px-plus.png", :alt => "Github Logo"), "https://github.com/spearw", target: :_blank %>
    </div>
    <div class="circle_image_small">
        <%= link_to image_tag("codewars-logo.png", :alt => "Code wars Logo"), "https://www.codewars.com/users/spearw", target: :_blank %>
    </div>
    <div class="circle_image_small">
        <%= link_to image_tag("LI-In-Bug.png", :alt => "Linked In Logo"), "https://www.linkedin.com/in/william-spear-466071102/", target: :_blank %>
    </div>
</div>