
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="d-flex flex-grow-1">
        <%= link_to "William Spear", {:controller => 'welcome', :action => 'index'}, class: "navbar-brand d-lg-inline-block h1" %>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right">
        <ul class="navbar-nav ml-auto flex-nowrap"> 
            <li class="nav-item">
                <%= link_to "Projects", {:controller => 'pages', :action => 'projects'}, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
                <%= link_to "Contact Me", {:controller => 'messages', :action => 'new'}, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
                <%= link_to "About", {:controller => 'pages', :action => 'about'}, class: "nav-link m-2 menu-item" %>
            </li>
        </ul>
    </div>
</nav>