<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), {:controller => 'pages', :action => 'about'}, lazy: true %>
    <span>
        Sample Project
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), lazy: true %>
    <span>
        Sample Project
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), lazy: true %>
    <span>
        Sample Project
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), lazy: true %>
    <span>
        Sample Project
    </span>
</div>