<div class="project_container hidden">
    <%= link_to image_tag("fitbit-logo", alt: "fitbit logo"), {:controller => 'pages', :action => 'fitbit'}, lazy: true %>
    <span>
        Fitbit API Research Project
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), lazy: true %>
    <span>
        Sample Project
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), lazy: true %>
    <span>
        Sample Project
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), lazy: true %>
    <span>
        Sample Project
    </span>
</div>